body{
  width: 100vw;
  margin: 0px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(195px, 45vw), 1fr));
  grid-gap: 1rem;  
  background: #d4baba;
}

body:before {
  /* de tafel */
  content: '';
  width: 100%;
  min-height: 500px;
  position: absolute;
  background: #612626;
}


input[type="radio"]:focus + label,
main input[type="radio"] + label:focus{
  outline: none;
  background: linear-gradient(to right,#000000,#000000 15%,lightblue 15%,lightblue 85%,#000000 85%);
}

section{
  /* de bonnetjes */
  margin-top: -1500px;
  position: absolute;
  z-index: 0;
  background-image: repeating-linear-gradient(180deg, #f1f1f1 25vw, #fff 66vw);
  max-width: 230px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  box-shadow: 0px 0px 10px #000;
  padding: 15px;
  margin-bottom: 15px;
}

@keyframes slide{
  /* animatie van het bonnetje */
  from{
    margin-top: -1500px;
  }
  to{
    margin-top: 250px;
  }
}

main input[type="radio"]:checked + label{
  /* de label waarvan de radiobutton actief is*/
  background: linear-gradient(to right,#000000,#000000 15%,lightblue 15%,lightblue 85%,#000000 85%);
}

main input[type="radio"]:nth-child(1) + label:focus ~ section:nth-child(15),
input[type="radio"]:nth-child(1):focus  ~ section:nth-child(15),

main input[type="radio"]:nth-child(3) + label:focus ~ section:nth-child(16),
input[type="radio"]:nth-child(3):focus ~ section:nth-child(16),

main input[type="radio"]:nth-child(5) + label:focus ~ section:nth-child(17),
input[type="radio"]:nth-child(5):focus ~ section:nth-child(17),

main input[type="radio"]:nth-child(7) + label:focus ~ section:nth-child(18),
input[type="radio"]:nth-child(7):focus ~ section:nth-child(18),

main input[type="radio"]:nth-child(9) + label:focus ~ section:nth-child(19),
input[type="radio"]:nth-child(9):focus ~ section:nth-child(19),

main input[type="radio"]:nth-child(11) + label:focus ~ section:nth-child(20),
input[type="radio"]:nth-child(11):focus ~ section:nth-child(20),

main input[type="radio"]:nth-child(13) + label:focus ~ section:nth-child(21),
input[type="radio"]:nth-child(13):focus ~ section:nth-child(21){
  animation: slide 1s ease-in-out forwards;
}


body > header {
  /* het bord */
  position: absolute;
  width: 100%;
  min-height: 465px;
  background:
  radial-gradient(#2f2929 70%, transparent 30%),
  radial-gradient(#e8e8e8 70%, transparent 30%),
  radial-gradient(#ffffff 70%, transparent 30%),
  radial-gradient(#e8e8e8 70%, transparent 30%),
  radial-gradient(#ffffff 70%, transparent 30%),
  radial-gradient(#000 70%, transparent 30%),
  radial-gradient(#e8e8e8 70%, transparent 30%),
  radial-gradient(#fff 70%, transparent 30%),
  radial-gradient(#000 50%, transparent 60%),
  linear-gradient(45deg, #fff 50%, transparent 50%);
  background-size:
  24% 24%,
  15% 5%,
  25% 25%,
  30% 30%,
  50% 60%,
  30% 30%,
  60% 70%,
  40% 59%,
  77% 84%,
  50% 50%;
  background-position:
  97% -10%,
  68% 3%,
  97% -10%,
  100% -15%,
  45% 55%,
  101% -15%,
  45% 55%,
  45% 50%,
  45% 50%,
  161% 84%,
  50% 50%;
  background-repeat: no-repeat, no-repeat, no-repeat;
  max-width: 550px;
}

body > header * {
  display: none;
}

main {
  /* positionering van het pin-apparaat */
  grid-column-end: -1;
  background-color: #000;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 50px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
  z-index: 2;
  margin-top: 26px;
  filter: drop-shadow(2px 4px 6px black);
}


main:after{
  /* bovenkant van het pin-apparaat */
  content: 'myPos';
  color: #fff;
  padding: 10px 35px;
  min-height: 10px;
  position: relative;
  display: block;
  font-family: arial;
  radius: 10px;
  bottom: 100%;
  background: linear-gradient(0deg, black 95%, white 1%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-weight: bold;
  z-index: 1;
}

main:before{
  /* onderkant van het pin-apparaat */
  content: '';
  min-height: 220px;
  width: 100%;
  display: block;
  z-index: 1;
  top: calc(100% + -75px);
  position: absolute;
  border-top: 29px solid #000;
  border-bottom-left-radius: 10px;
  /* border-bottom-right-radius: 10px; */
  /* border-top-left-radius: 50px; */
  border-top-right-radius: 50px;
  background: 
  radial-gradient(#2f2f2f 90%, transparent 10%),
  radial-gradient(#2f2f2f 90%, transparent 10%),
  radial-gradient(#2f2f2f 90%, transparent 10%),
  radial-gradient(green 90%, transparent 10%),
  radial-gradient(#101010 90%, transparent 10%),
  radial-gradient(#101010 90%, transparent 10%),
  radial-gradient(#101010 90%, transparent 10%),
  radial-gradient(#101010 90%, transparent 10%),

  radial-gradient(#2f2f2f 90%, transparent 10%),
  radial-gradient(#2f2f2f 90%, transparent 10%),
  radial-gradient(#2f2f2f 90%, transparent 10%),
  radial-gradient(yellow 90%, transparent 10%),
  radial-gradient(#101010 90%, transparent 10%),
  radial-gradient(#101010 90%, transparent 10%),
  radial-gradient(#101010 90%, transparent 10%),
  radial-gradient(#101010 90%, transparent 10%),

  radial-gradient(#2f2f2f 90%, transparent 10%),
  radial-gradient(#2f2f2f 90%, transparent 10%),
  radial-gradient(#2f2f2f 90%, transparent 10%),
  radial-gradient(#ed3833 90%, transparent 10%),
  radial-gradient(#101010 90%, transparent 10%),
  radial-gradient(#101010 90%, transparent 10%),
  radial-gradient(#101010 90%, transparent 10%),
  radial-gradient(#101010 90%, transparent 10%),
  linear-gradient(90deg,#1f1e1e 90%, #4e4e4e00 10%);
  background-repeat: no-repeat;
  background-size:
  40px 35px,
  40px 35px,
  40px 35px,
  40px 45px,
  43px 38px,
  43px 38px,
  43px 38px,
  43px 48px,

  40px 35px,
  40px 35px,
  40px 35px,
  40px 45px,
  43px 38px,
  43px 38px,
  43px 38px,
  43px 48px,

  40px 35px,
  40px 35px,
  40px 35px,
  40px 45px,
  43px 38px,
  43px 38px,
  43px 38px,
  43px 48px,
  111% 100%;
  background-position: 
  50px 141px,
  100px 141px,
  150px 141px,
  200px 141px,
  49px 139px,
  99px 139px,
  149px 139px,
  199px 139px,

  50px 81px,
  100px 81px,
  150px 81px,
  200px 81px,
  49px 79px,
  99px 79px,
  149px 79px,
  199px 79px,

  50px 21px,
  100px 21px,
  150px 21px,
  200px 21px,
  49px 19px,
  99px 19px,
  149px 19px,
  199px 19px,
  0 0;
}

main input[type="radio"]{
  /* zorgt dat de radio-buttons onzichtbaar zijn */
  position: absolute;
  opacity: 0;
  z-index: -1;  
}

main input[type="radio"]:nth-child(1) + label:before{
  /* bovenkant van het schermpje */
  content: 'payment';
  display: block;
  max-width: 200px;
  background: #3999d3;
  color: #fff;
  text-align: center;
  margin-left: -15px;
  border-top: 15px solid #151515;
}

main input[type="radio"]:nth-child(13) + label:after{
  /* de settings */
  content: 'settings';
  display: block;
  max-width: 200px;
  background: #3999d3;
  color: #fff;
  text-align: right;
  margin-left: -15px;
  border-bottom: 15px solid #696969;
  border-image: linear-gradient(#ffffff, #000000) 10;
}

main input[type="radio"]:nth-child(13) + label:before{
  /* knoppen direct onder het schermpje */
  content: '';
  display: block;
  width: 100%;
  color: #fff;
  text-align: right;
  margin-left: auto;
  margin-top: 51px;
  position: absolute;
  height: 50px;
  background: 
  radial-gradient(#ec0c0c 90%, transparent 10%),
  radial-gradient(#2f2f2f 90%, transparent 10%),
  radial-gradient(#2f2f2f 90%, transparent 10%),
  radial-gradient(#2f2f2f 90%, transparent 10%);
  background-repeat: no-repeat;
  background-size:
  40px 25px;
  background-position: 50px 10px, 100px 10px, 150px 10px, 200px 10px;
  z-index: 9;
  background-color: #000000;
  left: 0;
  margin-right: auto;
}

main input[type="radio"] + label{
  /* de interface van het pin-apparaat */
  color: #000;
  width: 100%;
  /* margin: 0px auto; */
  margin-top: -1px;
  z-index: 1;
  display: block;
  max-width: 225px;
  padding-left: 55px;
  border-left: 15px solid #151515;
  border-right: 15px solid #151515;
  position: relative;
  border: 1px;
  background: linear-gradient(to right,#000000,#000000 15%,#ffffff 15%,      #ffffff 85%,#000000 85%);
}